.switch__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  block-size: 100%;
  gap: var(--s-5);
}

.switch__wrapper {
  display: flex;
  justify-content: center;
  gap: var(--s-1);
  align-items: center;
  font-size: var(--s-1);
}

.switch__wrapper + .label * {
  user-select: none;
  font-size: var(--s-2);
  line-height: var(--s-2);
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.switch {
  border: 1px solid var(--color-dark);
  cursor: pointer;
}

.switch,
.switch__inner,
.switch__toggler {
  display: flex;
  inline-size: calc(var(--switch-height, var(--s-1)) * 2);
  border-radius: var(--switch-height, var(--s-1));
  background: var(--color-secondary);
}

.switch__inner {
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid var(--color-light);
}

.switch__toggler {
  block-size: var(--switch-height, var(--s-1));
  inline-size: var(--switch-height, var(--s-1));
  border: 1px solid var(--color-dark);
  background: var(--color-accent);
  transition: all 200ms ease-in-out;
}

.switch.switched .switch__toggler {
  margin-inline-start: calc(var(--switch-height, var(--s-1)) - 4px);
}
