@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Cutive+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Orbitron:wght@400..900&display=swap');

/* Variables. */
:root {
  /* Scale */
  --ratio: 1.618;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));

  /* Content spacing. */
  --measure: 60ch;
  --max-width: 1024px;
  --min-width: 40ch;
  --box-padding: var(--s1);

  /* Fonts */
  --font-primary: 'Aclonica', sans-serif;
  --font-secondary: 'Orbitron', sans-serif;

  /* Colors */
  --color-light: #d3d9d7;
  --color-shadow: #6f7170;
  --color-dark: #0a0908;

  /* --color-base-dark-xxx: #3D3D3D;
  --color-base-dark-xx: #525252;
  --color-base-dark-x: #666666; */
  --color-base: #1B5299;
  /* --color-base-light-x: #8F8F8F;
  --color-base-light-xx: #A3A3A3;
  --color-base-light-xxx: #B8B8B8; */

  /* --color-secondary-dark-xx: #992F1E;
  --color-secondary-dark-x: #BB3925; */
  --color-secondary: #3A2618;
  /* --color-secondary-light-x: #DD6755;
  --color-secondary-light-xx: #E48577; */

  /* --color-accent-warm-dark-xx: #FFBC1F;
  --color-accent-warm-dark-x: #FFC847; */
  --color-accent: #F0A202; /*#F18805; /* #497A29 */
  /* --color-accent-warm-light-x: #FFE099;
  --color-accent-warm-light-xx: #FFEDC2; */

  /* Contextual variable: can be overridden at the component level to affect accent elements within. */
  --bg: transparent;
  --heading-color: var(--color-primary);
  --accent-color: var(--color-accent);
  --color: var(--color-black);
  --button-fg: var(--accent-color);
  --border-thin: 1px;
  --border-normal: 2px;

  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    var(--color-accent),
    var(--color-base) 30%,
    white 60%
  );

  --border-radius: var(--s-3);

  font-size: 21px;
}

/* The only media query used simply bumps the base size of our modular scale for larger screens. */
@media screen and (min-width: 720px) {
  :root {
    --s0: 1.5rem;
    --box-padding: var(--s2);
  }
}

.scheme-art {
  --color-base: #3A2618;
  --color-secondary: #1B5299;
  --font-secondary: "Caveat", sans-serif;
}

.art-only,
.scheme-tech .art-only,
.scheme-tech img.art-only {
  display: none;
}

.scheme-art .tech-only,
.scheme-art img.tech-only {
  display: none;
}

.scheme-tech .tech-only,
.scheme-tech img.tech-only {
  display: block;
}

.scheme-art .art-only,
.scheme-art img.art-only {
  display: block;
}

.scheme-tech .stack > .art-only + * {
  margin-block-start: 0;
}

.scheme-art .stack > .tech-only + * {
  margin-block-start: 0;
}
