@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Orbitron:wght@400..900&family=Cutive+Mono&display=swap');

/* Variables. */

:root {
  /* Scale */

  --ratio: 1.618;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));

  /* Content spacing. */

  --measure: 60ch;
  --max-width: 1024px;
  --min-width: 40ch;
  --box-padding: var(--s1);

  /* Fonts */

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair+Display', serif;

  /* Colors */

  --color-light: #F7F5F3;
  --color-dark: #1A1A1A;
  --color-shadow: #6f7170;
  --color-base: #844638;
  --color-secondary: #C47A5C;
  --color-accent: #E8A07B; /*#F18805; /* #497A29 */

  /* Contextual variable: can be overridden at the component level to affect accent elements within. */

  --bg: transparent;
  --heading-color: var(--color-primary);
  --accent-color: var(--color-accent);
  --color: var(--color-black);
  --button-fg: var(--accent-color);
  --border-thin: 1px;
  --border-normal: 2px;

  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    var(--color-accent),
    var(--color-base) 30%,
    white 60%
  );

  --border-radius: var(--s-3);

  font-size: 21px;
}

/* The only media query used simply bumps the base size of our modular scale for larger screens. */
@media screen and (min-width: 720px) {
  :root {
    --s0: 1.5rem;
    --box-padding: var(--s2);
  }
}

.scheme-art {
  --color-base: #844638;
  --color-secondary: #C47A5C;
  --color-accent: #E8A07B;
  --font-secondary: 'Playfair+Display', serif;
}

.scheme-tech {
  --color-base: #2E2D47;
  --color-secondary: #2E2D47;
  --color-accent: #4A70A5;
  --font-secondary: 'Orbitron', serif;
}

.art-only,
.scheme-tech .art-only,
.scheme-tech img.art-only {
  display: none;
}

.scheme-art .tech-only,
.scheme-art img.tech-only {
  display: none;
}

.scheme-tech .tech-only,
.scheme-tech img.tech-only {
  display: block;
}

.scheme-art .art-only,
.scheme-art img.art-only {
  display: block;
}

.scheme-tech .stack > .art-only + * {
  margin-block-start: 0;
}

.scheme-art .stack > .tech-only + * {
  margin-block-start: 0;
}
