.pager {
  --measure: 10ch;
  --box-padding: var(--s0);
  background-color: var(--color-dark);
  color: var(--color-light);
}

.pager .switcher {
  align-items: center;
  inline-size: 100%;
  gap: var(--s0);
}

.pager .switcher * {
  text-align: center;
}
