.flip {
  --font-size: var(--s1);
  container-type: inline;
  display: flex;
  flex-direction: column;
  gap: var(--s0);
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px var(--color-light);
  overflow: hidden;
}

@container (max-width: 414px) {
  .flip {
    --font-size: var(--s0);
  }
}

.flip__container {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size);
  font-weight: 600;
  transform: rotate3d(1, 0, 0, 0deg);
  transition: all 1s ease-out;

}

.flip .flip__2 {
  color: var(--color-accent);
  text-shadow: none;
  margin-inline-end: var(--s-1);
}

.scheme-tech .flip__container {
  flex-direction: row-reverse;
  transform: rotate3d(1, 0, 0, 360deg);
  color: var(--color-light);
  text-shadow: none;
}
