.proof.section .section__content {
  text-shadow: none;
  inline-size: 100%;
  max-inline-size: 100vw;
}

.proof.section .reel {
  inline-size: var(--measure);
  max-inline-size: 100%;
  margin-inline: auto;
  color: var(--color-light);
  background: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--color-accent) var(--color-dark);
  scrollbar-gutter: stable;
}

.proof.section .reel.overflowing + .reel-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s0);
  color: var(--color-accent);
  margin-block-start: var(--s-2);
}

.reel::-webkit-scrollbar {
  block-size: var(--s-3);
}

.proof.section .reel::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

.proof.section .reel::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}


.proof.section .item {
  inline-size: 100%;
  max-inline-size: 100vw;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--s-1);
  font-style: italic;
  font-size: var(--s0);
  line-height: 1.4;
}

.proof.section cite {
  font-size: var(--s0);
  font-weight: 700;
  text-align: center;
  line-height: var(--s1);
}
