---
import Stark from '../layouts/Stark.astro';
import Cover from '../components/Organisms/Cover/Cover.astro';
import Section from '../components/Organisms/Section/Section.astro';

import './index.css';

---

<Stark title="Dating Game Goodbye">
	<main>
		<Cover
			bgColor='base'
			className="halftone"
			styles={['--bg-color: #aa3333;']}
		>
			<div slot="top" class="" style="text-align: center; margin-block-start: var(--s0);">
				<div class="frame">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/F05ECRnYiH8?si=PyEgN9UYOJHOAGj0" title="YouTube video player" style="border: 4px solid white; border-radius: 8px;" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div slot="principal" class="principal" style="text-align: center;  --bg-color: darkred;">
				<h1 style="color: white; font-family: var(--font-primary);">
					&hearts; From Nigel
				</h1>
			</div>
		</Cover>
		<Section
			bgColor='dark'
			className="halftone"
		></Section>
	</main>
	<!-- <Footer /> -->
</Stark>
