.home .switch-grid {
  display: grid;
  grid-template-areas: "switch";
}

.home .switch-grid > * {
  grid-area: switch;
  width: 100%;
}

/* Scheme: Art */
.scheme-tech .home .with-sidebar--tech {
  flex-direction: row-reverse;
}

.home .section--tech {
  transition: all 0.5s ease-in-out;
}
