---
import Stark from '../layouts/Stark.astro';
import Cover from '../components/Organisms/Cover/Cover.astro';
import Section from '../components/Organisms/Section/Section.astro';

import './index.css';

---

<Stark title="ECHO Players Lobby">
	<main>
		<Cover
			bgColor='base'
			className="halftone"
			styles={['--bg-color: #aa3333;']}
		>
			<div slot="top" class="" style="text-align: center;">
			</div>
			<div slot="principal" class="principal" style="text-align: center;  --bg-color: darkred; color: white;">
				<h2>2025 Vancouver Island</h2>
				<h1>One Act Play Festival!</h1>
			</div>
			<div slot="bottom" style="color: white; text-align: center;">
			</div>
		</Cover>
		<Section
			bgColor='dark'
			className="halftone"
		>
			<div style="text-align: center; color: white;">
				<video
					src="/img/OpenHouseLoop-crushed.mp4"
					autoplay
					loop
					muted
					playsinline
					controls
					style="width: 100%; max-width: 1024px; border: 2px solid white; border-radius: 8px;"
				></video>
			</div>
		</Section>
	</main>
	<!-- <Footer /> -->
</Stark>
