---
import Stark from '../layouts/Stark.astro';
import Cover from '../components/Organisms/Cover/Cover.astro';
import Section from '../components/Organisms/Section/Section.astro';

import './index.css';

---

<Stark title="ECHO Players Lobby">
	<main>
		<Cover
			bgColor='base'
			className="halftone"
			styles={['--bg-color: #aa3333; --cover-padding: 0;']}
		>
			<div slot="principal" class="principal" style="text-align: center;  --bg-color: darkred;">
				<video
					src="/img/DGLobby-crushed.mp4"
					autoplay
					loop
					muted
					playsinline
					controls
					style="width: 100%; max-width: 100vw; border: 4px solid white; border-radius: 8px;"
				></video>
			</div>
		</Cover>
		<Section
			bgColor='dark'
			className="halftone"
		></Section>
	</main>
	<!-- <Footer /> -->
</Stark>
