---
import Stark from '../layouts/Stark.astro';
import Cover from '../components/Organisms/Cover/Cover.astro';
import Section from '../components/Organisms/Section/Section.astro';

import './index.css';

---

<Stark title="ECHO Players Lobby">
	<main>
		<Cover
			bgColor='base'
			className="halftone"
			styles={['--bg-color: #aa3333;']}
		>
			<div slot="top" class="" style="text-align: center;">
				<h1 style="color: white; font-family: var(--font-primary);">
					Volunteers
				</h1>
			</div>
			<div slot="principal" class="principal" style="text-align: center;  --bg-color: darkred;">
				<video
					src="/img/OpenHouseLoop-crushed.mp4"
					autoplay
					loop
					muted
					playsinline
					controls
					style="width: 100%; max-width: 1024px; border: 4px solid white; border-radius: 8px;"
				></video>
			</div>
			<div slot="bottom" style="color: white; text-align: center;">
				<p>All Ages Welcome!</p>
			</div>
		</Cover>
		<Section
			bgColor='dark'
			className="halftone"
		></Section>
	</main>
	<!-- <Footer /> -->
</Stark>
