---
import Stark from '../layouts/Stark.astro';
import Cover from '../components/Organisms/Cover/Cover.astro';
import Section from '../components/Organisms/Section/Section.astro';

import './index.css';

---

<Stark title="ECHO Players Lobby">
	<main>
		<video
			src="/img/DGLobby-crushed.mp4"
			autoplay
			loop
			muted
			playsinline
			controls
			style="height: 100vh;border: 0 solid white;"
		></video>
	</main>
	<!-- <Footer /> -->
</Stark>
