.blog {
  --cover-padding: 0;
}

.blog .principal {
  margin-block-start: 0;
}

.blog__heading {
  text-align: center;
}

.blog-date {
  font-style: italic;
  color: var(--color-shadow);
}

.blog-list {
  width: 100%;
  padding-inline: 0;
  list-style: none;
}

.blog-list li a {
  display: flex;
  align-items: center;
  gap: var(--s0);
}

.blog-list img{
  inline-size: var(--s3);
}
