---
interface Props {
	title: string;
	className?: string;
}

import Header from '../components/Organisms/Header/Header.astro';
import Nav from '../components/Molecules/Nav/Nav.astro';
import Footer from '../components/Organisms/Footer/Footer.astro';
import '../styles/elements.css';
import '../styles/layout-primitives.css';
import '../styles/scheme-default.css';
import './Layout.css';


const { title, className = ''} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A man of many talents - Calvin is a highly creative autodidact that is equal parts technical and artistic. From programming to performing and many things in between his experience and insights are a unique and valuable asset to any project." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class=`layout ${className}`>
		<Header
			variant="small"
			bgColor="base"
		>
			<Nav />
		</Header>
    <slot />
		<Footer slot="bottom" />
	</body>
	<script is:inline src="/js/SchemeSwitch.js"/>
</html>
