---
interface Props {
	title: string;
	className?: string;
	description?: string;
}

import '../styles/elements.css';
import '../styles/layout-primitives.css';
import '../styles/scheme-default.css';
import './Layout.css';

const { title, className = '', description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=`${description || 'A man of many talents - Calvin is a highly creative autodidact that is equal parts technical and artistic. From programming to performing and many things in between his experience and insights are a unique and valuable asset to any project.'}` />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class=`layout ${className}`>
		<slot />
	</body>
</html>
