---
import Cards from '../../components/Organisms/Cards/Cards.astro';
import Footer from '../../components/Organisms/Footer/Footer.astro';
import Header from '../../components/Organisms/Header/Header.astro';
import Nav from '../../components/Molecules/Nav/Nav.astro';
import Section from '../../components/Organisms/Section/Section.astro';
import Stark from '../../layouts/Stark.astro';
import PortfolioCards from '../../components/Molecules/PortfolioCards/PortfolioCards.astro';
import SectionProof from '../../components/Organisms/SectionProof/SectionProof.astro'
---
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=download" />

<Stark title="Portfolio" description="Calvin's portfolio of work, including tech and the arts.">
	<main class="">
		<Header
			variant='small'
			bgColor='base'
		>
		  <Nav />
		</Header>
		<SectionProof />
		<Section
			heading="Portfolio"
			level='1'
		>
		  <div class="center stack">
				<div class="tech-only">
					<ul class="switcher" style="--measure: 20ch; row-gap: 0;">
						<li><b>20+ years Web Development</b></li>
						<li><b>High Level Problem Solver</b></li>
					</ul>
				</ul>
			</div>
		</Section>
		<Section>
			<div class="art-only">
				<Cards>
					<PortfolioCards variant="art" />
				</Cards>
			</div>
			<p class="tech-only">This is not an exhaustive list of everything I've worked on, that would be too many things. These are some highlights that standout to me for reasons you'll learn if you review them.</p>
			<div class="tech-only stack">
				<Cards>
					<PortfolioCards variant="tech" />
				</Cards>
			</div>
		</Section>
	</main>
	<Footer />
</Stark>

<p></p>
