.drop-cluster,
.drop-cluster.cluster {
  --gap: var(--s0);
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.drop-cluster > * {
  height: calc(var(--gap) * var(--ratio));
}

.drop-cluster__items,
.drop-cluster__items.cluster {
  justify-content: flex-end;
  overflow: hidden;
  list-style: none;
  margin-block: var(--gap);
  padding: 0;
  flex-basis: 90%;
  position: relative;
}

.drop-cluster__items li {
  font-size: var(--gap);
  line-height: var(--gap);
  overflow-wrap: break-word;
}

.drop-cluster__items li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.drop-cluster__toggle[type=checkbox] {
  --icon-offsetx: calc(var(--gap) / 2);
  --icon-offsetx: calc(var(--gap) / 2);
  position: relative;
  display: block;
  visibility: hidden;
  margin-block: auto;
  width: var(--gap);
  height: var(--gap);
  cursor: pointer;
}

.drop-cluster__toggle[type=checkbox] + ul li {
  line-height: calc(var(--gap) * var(--ratio));
}

.drop-cluster__toggle[type=checkbox]::after {
  position: absolute;
  content: '\2630';
  display: block;
  visibility: visible;
  font-size: var(--gap);
  line-height: var(--gap);
  color: var(--color);
  transition: all 500ms ease;
  margin-block-start: -3px;
  margin-inline-start: 1px;
}

.drop-cluster__toggle[type=checkbox]:checked::after {
  color: var(--color-accent);
  transform: rotate(-405deg);
}

.drop-cluster__toggle[type=checkbox]:checked + ul {
  height: auto;
}

.drop-cluster__scrim {
  position: absolute;
  inline-size: 100%;
  block-size: calc(100% - var(--gap) * var(--ratio));
  background-color: var(--background-color, var(--color-white));
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: none;
}

.drop-cluster__toggle[type=checkbox]:checked + .drop-cluster__items .drop-cluster__scrim {
  opacity: 0;
}
