---
interface Props {
  bgImage?: string;
  bgColor?: string;
  className?: string;
  styles?: string[];
}

const {
  bgImage,
  bgColor = "default",
  className,
  styles = [],
} = Astro.props;

const classes = [
  'section section--cover',
  `section--color-${bgColor}`,
  `${className ? className : ""}`,
];

styles.push('');

const style = styles.join(' ');
---

<div class={classes.join(' ')} style={style}>
  {bgImage ? (
    <div class="section__image" style={`--background-image: url(${bgImage});`}></div>
    <div class="section__tint"></div>
  ) : null}
  <div class="section__content cover" style="padding-block: var(--cover-padding), var(--s1)); padding-block-start: var(--cover-padding, inherit); padding-block-end: var(--cover-padding, inherit);">
    <slot name="top" />
    <slot name="principal" />
    <slot name="bottom" />
  </div>
</div>
